/Base Model.png
/Common Later Translators.png
/Early Translators.png
/Horizontal Example 1.png
/Horizontal Example 2.pdn
/Horizontal Example 2.png
/Logs
/Other Common Later Translators Model.png
/Proposed Model.png
/UI Example.pdn
/UI Example.png
/Uncommon Later Translators.png
/Untitled.pdn
/Web After.png
/Web Before.png